@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.home{
    display: flex;

    flex-direction: column;
    
    /* margin-left: 15px;
    margin-right: 15px;  */
    height: 100%;
    width: 100%;
}

.home_row1{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 10px;
}

.home_about{
    display: flex;
    flex-direction: column;
    /* text-shadow: 0px 4px 4px gold; */
}

.home_row2{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.home_r2elements{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.skills_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.skills_container p {
    text-align: center;
}

.home_row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.image_container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul > li{
    margin-top: 20px;
    border: 2px solid goldenrod;
    padding: 10px;
    border-radius: 1vw;
}

.home_image{
    display: flex;
    width: 40%;
    /* height: 250px; */
    margin-right: 10px;
    aspect-ratio: 2/1.5;
    border: 2px solid goldenrod;
    border-radius: 25%;
    /* max-width: 500px;
    max-height: 500px; */
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: goldenrod;
}

.button:hover{
    animation: trans 2s infinite alternate; 
    
}

@keyframes trans {
    100% {
      background-color: rgba(255, 217, 0, 0.916);
    }
    
}


.home_row3 >p{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.form{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    color: goldenrod;
    background-color: black;
}

.form_col{
    width: 100%;
    border-radius: 20px;
    color: goldenrod;
}

.form_control{
    width: 100%;
    border-radius: 5px;
    border: 2px solid goldenrod;
    background-color: black;
    color: goldenrod;
}

.form_container{
    color: goldenrod;
}

.form > button{
    width: 100%;
}