@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.home{
    display: flex;
    flex-direction: column;
    
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.home_row2{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 10px;
}

.home_r2elements{
    display: flex;
    flex: 1;
    flex-direction: column;
}


.home_row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: goldenrod;
}

.button:hover{
    animation: trans 2s infinite alternate; 
    
}

@keyframes trans {
    100% {
      background-color: rgba(255, 217, 0, 0.916);
    }
    
}

.home_row3 >p{
    display: flex;
    margin-right: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.form_col{
    width: 100%;
    border-radius: 20px;
}

.form_control{
    width: 100%;
    border-radius: 5px;
    border: 1px solid goldenrod;
}

.form > button{
    width: 100%;
}